        body {
            margin: 0;
            padding: 1em 0;
            background-color: #f3f3f3;
            font: 16px/1.7 Arial, Helvetica, sans-serif;
            color: #5a5a5a;
        }

        a {
            color: #08c;
            text-decoration: none;
        }

        header h1 {
            text-align: center;
        }

        ul {
            margin: 0;
            padding: 0;
        }

            ul li {
                list-style: none;
                margin: 0;
                font-size: 13px;
            }

        h3 {
            line-height: 1.7;
            margin: 0;
        }

        .item .pic {
            float: left;
            margin-right: 10px;
        }

        .item .content {
            overflow: hidden;
            zoom: 1;
        }
        /* 或用display:table-cell */