.imgbox {
    position: relative;
}

.probox {
    width: 152px;
    height: 152px;
    border: 1px solid #000;
}

 .probox img {
     height: 150px;
     vertical-align: top;
 }

.showbox {
    display: none;
    position: absolute;
    left: 153px;
    top: 0;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.showbox img {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 200%;
    max-height: 200%;
    z-index:999;
}

.hoverbox {
    display: none;
    position: absolute;
    top: 0;
    background: #09f;
    border: 1px solid #09f;
    height: 35px;
    width: 50px;
    cursor: move;
    z-index: 999;
}